@import "tailwindcss";
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  max-width: 450px;
}

.buttons {
  margin-top: 30px;
}

.btn-primary {
  padding: 12px 25px;
  background: #ffcc00;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.btn-secondary {
  padding: 12px 25px;
  background: transparent;
  border: 2px solid white;
  border-radius: 25px;
  margin-left: 15px;
  color: white;
  cursor: pointer;
}

.hero-image img {
  width:700px;
  height:420px;
}
