.app{
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  gap: 30px;
  background-color: rgb(231, 12, 78);
  height: 40px;
  line-height: 30px;
  width:auto;
}
a{
  text-decoration: none;
  color: black;
  margin-left: 20px;

}
a:hover{
  color:rgb(55, 23, 240);
}
